<!DOCTYPE html>
<html>
    <head>
        <title>It's 5 O'Clock Somewhere</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>

    <body>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-3 col-sm-1">
          </div>
          <div class="col-lg-6 col-sm-10">
            <h1 class="display-3">5:{{ minutes }}pm </h1>
            <br>
            <h2>{{ stringa }}</h2>
            <h2 id=location class="display-4">{{ location }}</h2>
            <br>
            <p>{{ stringb }}</p>
          </div>
          <div class="col-lg-3 col-sm-1">
          </div>
        </div>
      </div>

      <!-- Footer -->
      <footer class="page-footer font-small blue fixed-bottom">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-1">© 2020 Copyright:
          <a href="https://github.com/fdhgh"> finlay</a>
        </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->

    </body>
</html>
